/**
* -----------------------------------
* #. TABLE OF CONTENTS
* -----------------------------------
* Below is a list styles per every section.
* 
* 1. Default
* 2. Authentication (Login, Registration, Forgot Password)
* 3. Forms
* 4. Sidebar
*/

// 1. Default
html,
body {
  font-family: $fonts-family-raleway !important;
  color: $color-light-gray !important;
}
small,
ul li,
ol li,
h1,
h2,
h3,
h4,
h5,
p {
  color: $color-light-gray !important;
}

// FOOTER & HEADER
#components-wine-shop .ant-layout-header {
  height: auto;
  padding: 10px 50px;
  line-height: initial;
}
#components-wine-shop .ant-layout-header {
  background: $color-white;
  color: $color-black !important;
}
#components-wine-shop .ant-layout-footer {
  background: $color-white;
  color: $color-light-gray-light;
}
#components-wine-shop .ant-layout-content {
  min-height: 86vh;
}
#components-wine-shop > .ant-layout:last-child {
  margin: 0;
}
