/**
* -----------------------------------
* 1. COLORS
* -----------------------------------
* This are the registered color variables.
*/

// Main
$color-dark-blue: #323c4f; // primary
$color-orange: #f26532; // secondary

// Default
$color-white: #fff;
$color-black: #000;
$color-red: #ff0000;

//Others
$color-orange-light:#f26532a6;
$color-dark-blue-light:#323c4fd4;

$color-orange-transparent:#f2653238;

/**
* -----------------------------------
* 2. FONTS
* -----------------------------------
* This are the registered font variables.
*/
$fonts-family-raleway: 'Lato', sans-serif; //primary

/**
* -----------------------------------
* 3. FONT SIZE
* -----------------------------------
* This are the registered font size variables.
*/
$fonts-size-size-40: 40px;
$fonts-size-size-30: 30px;
