/**
* -----------------------------------
* 1. COLORS
* -----------------------------------
* This are the registered color variables.
*/

// Main
$color-light-gray: #5c5c5c; // primary
$color-orange: #f26532; // secondary

// Default
$color-white: #fff;
$color-black: #000;
$color-red: #ff0000;

//Others
$color-orange-light:#f26532a6;
$color-light-gray-light:rgba(50, 60, 79, 0.308);

/**
* -----------------------------------
* 2. FONTS
* -----------------------------------
* This are the registered font variables.
*/
$fonts-family-raleway: 'Lato', sans-serif; //primary

/**
* -----------------------------------
* 3. FONT SIZE
* -----------------------------------
* This are the registered font size variables.
*/
$fonts-size-size-40: 40px;
$fonts-size-size-30: 30px;
