/**
* -----------------------------------
* 1. COLORS
* -----------------------------------
* This are the registered color variables.
*/

// Main
$color-light-gray: #5c5c5c; // primary
$color-orange: #a38a38; // secondary

// Default
$color-white: #fff;
$color-black: #000;
$color-red: #faad14;

//Others
$color-orange-light:#a38a38a8;
$color-light-gray-light:#00000085;
$color-transparent: transparent;

/**
* -----------------------------------
* 2. FONTS
* -----------------------------------
* This are the registered font variables.
*/
$fonts-family-raleway: 'Lato', sans-serif; //primary

/**
* -----------------------------------
* 3. FONT SIZE
* -----------------------------------
* This are the registered font size variables.
*/
$fonts-size-size-40: 40px;
$fonts-size-size-30: 30px;
